<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
	#header{
    	background-color:#DB7093;
    	color:white;
  	}
  	#div{
  		height: 200px;
		color:#800080;
    	background-color:#FFE4E1;
	} 
	#nav{
    	line-height:30px;
    	color:#800080;
    	width:350px;
    	height:100px;
    	float:left;
    	padding:5px;	      
	}
	#langage{
		font-size: 35px;
	}
	#section{
		text-align: left;
	}
	#lD{
		font-size: 35px;
	}
	#lL{
		font-size: 18px;
	}
	#ITtitle{
		font-size: 35px;
		text-align: left;
	}
	#ITcontenu{
		font-size: 25px;
		text-align: center;
	}
	#softContenu{
		font-size: 25px;
		text-align: center;
	}
	#souscatalogue{
		font-size: 35px;
	}
	#loisirContenu{
		font-size: 25px;
	}
</style>
</head>

<body>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			Language
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in skl.langage">
		<div id="nav">
			<p id="langage"><b>{{e.langage}}</b></p>
		</div>
		<div id="section">
			<p id="lD">{{e.description}} </p>   
			<p id="lL">{{e.level}}</p>
		</div>
	</div>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			IT
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in skl.IT">
			<h4 id="ITtitle">{{e.title}}</h4> 
			<br>
			<p id="ITcontenu">{{e.contenu}}</p>
	</div>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			Logiciel
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in skl.software">
			<p id="softContenu">{{e.contenu}}</p>
	</div>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			Loisir
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in skl.loisir">
		<div id="nav">
			<p id="souscatalogue"><b>{{e.sports}}</b></p>
			<br>	
			<p id="souscatalogue"><b>{{e.voyage}}</b></p>	
		</div>
		<div id="section">
			<p id="loisirContenu">{{e.contenu1}}</p>
			<br><br>	
			<p id="loisirContenu">{{e.contenu2}}</p>
		</div>
	</div>
</body>
</html>