<div ng-repeat="e in edu.formation2">
		<div id="header">
			<h1>{{e.date}}</h1>
		</div>

		<div id="nav">
			specialite<br><br>
			ecole<br><br>
			localisation<br><br>
			description<br><br>
		</div>

		<div id="section">
		<p title="formation">
			{{e.specialite}} <br><br><br>
			<b>{{e.ecole}}</b><br><br><br> 
			{{e.localisation}}<br><br><br> 
			{{e.description}}<br><br><br> 
		</p>
		</div>

		<div id="footer">
			Amelie YU ^_^
		</div>
</div>