<!DOCTYPE html>
<html>

<head>
<style>
#header {
	width:1100px;
    background-color:#DB7093;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#FFC0CB;
    color:#800080;
    height:250px;
    width:200px;
    float:left;
    padding:5px;
    font-size: 25px;	      
}
#section {
    width:900px;
    height:250px;
    color:#800080;
    background-color:#FFE4E1;
    float:left;
    padding:25px;
    font-size: 20px;	 	 
}
#footer {
	width:1100px;
    background-color:#DB7093;
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	 	 
}
</style>
</head>

<body>
	<div ng-repeat="e in edu.formation">
		<div id="header">
			<h1>{{e.date}}</h1>
		</div>

		<div id="nav"><b>
			<span class="glyphicon glyphicon-heart"></span>specialite<br><br>
			<span class="glyphicon glyphicon-heart"></span>ecole<br><br>
			<span class="glyphicon glyphicon-heart"></span>localisation<br><br>
			<span class="glyphicon glyphicon-heart"></span>description<br><br></b>
		</div>

		<div id="section">
		<p title="formation">
			{{e.specialite}} <br><br>
			{{e.ecole}}<br><br>
			{{e.localisation}}<br><br>
			{{e.description}}<br><br>
		</p>
		</div>

		<div id="footer">
			Amelie YU ^_^
		</div>
	</div>
</body>
</html>
