<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
	#header{
    	background-color:#DB7093;
    	color:white;
  	}
	#div{
		float: left;
		margin: 5px;
		padding: 15px;
		width: 560px;
		height: 250px;
		border: 1px solid #FFE4E1;
		color:#800080;
    	background-color:#FFE4E1;
	} 
	#date{
		font-size: 15px;
	}
	#title{
		font-size: 36px;
	}
	#description{
		font-size: 20px;
	}
	#skill{
		font-size: 13px;
	}
</style>
</head>

<body>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			School Projet
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in sch.schoolprojet">
			<h2 id="date">{{e.date}}</h2>
			<h2 id="title">{{e.title}}</h2>
			<br>
			<p id="description">{{e.description}}</p>
			<br>
			<p id="skill"><span class="glyphicon glyphicon-heart"></span>
				{{e.skill}}
			<span class="glyphicon glyphicon-heart"></span></p>
	</div>
</body>
</html>