<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
	#header{
    	background-color:#DB7093;
    	color:white;
  	}
	#div{
		float: left;
		margin: 5px;
		padding: 15px;
		width: 560px;
		height: 250px;
		border: 1px solid #FFE4E1;
		color:#800080;
    	background-color:#FFE4E1;
	} 
	#catalogue{
		font-size: 35px;
		text-align: center;
	}
	#address{
		font-size: 15px;
		text-align: center;
	}
	#email{
		font-size: 20px;
		text-align: center;
	}
</style>
</head>

<body>
	<div class="jumbotron" id="header">
  		<h1><span class="glyphicon glyphicon-heart"></span>
  			Contact Me ^_^
  		<span class="glyphicon glyphicon-heart"></span></h1> 
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in con.address">
  		<h3 id="catalogue"><span class="glyphicon glyphicon-heart"></span>
  			Addresse<span class="glyphicon glyphicon-heart"></span></h3>
			<p id="address">{{e.name}}</p>
			<p id="address">{{e.route}}</p>
			<p id="address">{{e.appt}}</p>
			<p id="address">{{e.code}}&nbsp;&nbsp;&nbsp;{{e.ville}}&nbsp;&nbsp;&nbsp;{{e.pays}}</p>
	</div>
	<div class="jumbotron" id="div" ng-repeat="e in con.email">
		<h3 id="catalogue"><span class="glyphicon glyphicon-heart"></span>
  			Email<span class="glyphicon glyphicon-heart"></span></h3> 
  			<br><br>
			<p id="email">{{e.email1}}</p>
			<p id="email">{{e.email2}}</p>
	</div>
</body>
</html>
